
.container{
  position: relative;
}
.model {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 100px;
  left: 50%;
  margin-left: 50%;
  background-color: #000;
  color: #fff;
  text-align: center;
  z-index: 10;

}
